@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  @apply h-full;
}

@layer base {
  :root {
    --background: bg-white;
    --foreground: text-gray-100;
    /* Assuming 3.9% is close to gray-100 */

    --card: bg-white;
    --card-foreground: text-gray-100;
    /* Assuming 3.9% is close to gray-100 */

    --popover: bg-white;
    --popover-foreground: text-gray-100;
    /* Assuming 3.9% is close to gray-100 */

    --primary: bg-black;
    --primary-foreground: text-white;

    --secondary: bg-gray-100;
    /* Assuming 96.1% is close to gray-100 */
    --secondary-foreground: text-black;

    --muted: bg-gray-100;
    /* Assuming 96.1% is close to gray-100 */
    --muted-foreground: text-gray-400;
    /* Assuming 45.1% is close to gray-400 */

    --accent: bg-gray-100;
    /* Assuming 96.1% is close to gray-100 */
    --accent-foreground: text-black;

    --destructive: text-red-500;
    /* Based on 84.2% and 60.2% */
    --destructive-foreground: text-white;

    --border: border-gray-200;
    /* Assuming 89.8% is close to gray-200 */
    --input: bg-gray-200;
    /* Assuming 89.8% is close to gray-200 */
    --ring: ring-gray-900;
    /* Assuming 3.9% is close to gray-900 */

    --radius: rounded-md;
  }

  .dark {
    --background: bg-gray-900;
    /* Assuming 3.9% is close to gray-900 */
    --foreground: text-white;

    --card: bg-gray-900;
    /* Assuming 3.9% is close to gray-900 */
    --card-foreground: text-white;

    --popover: bg-gray-900;
    /* Assuming 3.9% is close to gray-900 */
    --popover-foreground: text-white;

    --primary: bg-white;
    --primary-foreground: text-black;

    --secondary: bg-gray-800;
    /* Assuming 14.9% is close to gray-800 */
    --secondary-foreground: text-white;

    --muted: bg-gray-800;
    /* Assuming 14.9% is close to gray-800 */
    --muted-foreground: text-gray-600;
    /* Assuming 63.9% is close to gray-600 */

    --accent: bg-gray-800;
    /* Assuming 14.9% is close to gray-800 */
    --accent-foreground: text-white;

    --destructive: text-red-400;
    /* Based on 62.8% and 30.6% */
    --destructive-foreground: text-white;

    --border: border-gray-800;
    /* Assuming 14.9% is close to gray-800 */
    --input: bg-gray-800;
    /* Assuming 14.9% is close to gray-800 */
    --ring: ring-gray-100;
    /* Assuming 83.1% is close to gray-100 */
  }
}

@layer base {
  * {
    @apply border-gray-200;
    /* Adjusted based on `--border` */
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #400101;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #400101;
  }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply max-md:hidden bg-transparent;
}

.cl-organizationSwitcherTrigger .cl-organizationPreview .cl-organizationPreviewTextContainer {
  @apply max-md:hidden bg-transparent;
}

.main-container {
  overflow-y: auto;
  max-height: 100vh;
}

.album-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.gradientBackgroundGlobal {
  background-image: linear-gradient(to bottom right,
      #991b1b 0%,
      /* rgb(153, 27, 27) */
      #1a202c 25%,
      /* rgb(26, 32, 44) */
      #112f64 75%,
      /* rgb(17, 47, 100) */
      #f59e0b 100%
      /* rgb(245, 158, 11) */
    );
}

/* Cyber Rant */
.pacifico {
  font-family: 'Pacifico', cursive;
}

.cyberrant-gradient {
  background: linear-gradient(to bottom right, rgba(255, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.rant-gradient {
  background: linear-gradient(to bottom right, rgba(224, 224, 224, 0.1), rgba(0, 0, 0, 0.1));
}

.lightgray-gradient {
  background: linear-gradient(to bottom right, rgba(200, 200, 200, 0.1), rgba(0, 0, 0, 0.1));
}

.sky-gradient {
  background: linear-gradient(to bottom right, rgba(7, 89, 133, 0.5), rgba(0, 0, 0, 0.4));
}

/* Layout Visibility */
@media (max-width: 767px) {
  .hide-below-md {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hide-partial {
    clip-path: inset(0% 77% 0% 0%) !important;
    /* Show the left (Open 12%) */
    transform: translateX(45%);
    /* Move it to center */
  }
}

@media (max-width: 414px) {
  .hide-below-sm {
    display: none !important;
  }
}
